body {
    font-family: 'Merriweather', serif;
}
header {
    background-color: #1a3c7c;
    min-height: 80px;
    padding: 25px 0px;
}
h1 {
    font-size: 30px; 
    padding: 20px 0px; 
    text-align: center; 
    color: #fff;
}
li {
    font-size: 20px;
    line-height: 40px; 

}
a {
    text-decoration: none; 
    color:  #1a3c7c;
}
form {
}
nav {
    height: 60px;  
    background-color: #fff;
    text-align: center;
   
}
nav a {
    margin: 25px 25px 25px 10px; 
    vertical-align: middle; 
    display: inline;
    float: left;
}
#itemCount {
    float: right; 
    margin: 25px 10px 0 10px; 
    color: #fff; 
    font-size: 15px; 
}
#cartContents {
    height: auto; 
}
.btn {
    border: solid 3px #1a3c7c;
    width: 200px; 
    height: 50px; 
    color: #1a3c7c;
}
.btn:hover {
    background-color: #1a3c7c; 
    border: solid 3px #fff;
    width: 200px; 
    height: 50px; 
    color: #fff;
}
.copy {
    text-align: center; 
    padding: 25px; 
}
#items {
    width: 250px; 
    height: 40px; 
    background-color: #fff;
    font-size: 16px;
}
#quantity {
    width: 250px; 
    height: 40px; 
    background-color: #fff;
    font-size: 16px;
}
img {
    width: 300px; 
    height: 300px;
}
footer {
    text-align: center;
    padding: 20px; 
}
